###############################################################################
# GLOBAL                                                                      #
###############################################################################
{
	log {
		output discard
	}
}

###############################################################################
# SNIPPETS                                                                    #
###############################################################################

(log) {
	log {
		level INFO
		output file /var/log/caddy/{args[0]}.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}

(default) {
	import log {args[0]}
	encode gzip
	import /etc/caddy/caddy_security.conf
	tls {$TLS_EMAIL} {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

###############################################################################
# PI HOLE                                                                     #
###############################################################################

https://{$DNS_PIHOLE_DOMAIN} {
	import default {$DNS_PIHOLE_DOMAIN}

	redir /admin* /
	route {
		rewrite * /admin/{uri}
		reverse_proxy {$DNS_PIHOLE_HOST}:80
	}
}

###############################################################################
# HOME ASSISTANT                                                              #
###############################################################################

https://{$HOME_ASSISTANT_DOMAIN} {
	import default {$HOME_ASSISTANT_DOMAIN}

	reverse_proxy {$HOME_ASSISTANT_HOST}:8123 {
		# log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}

###############################################################################
# VAULTWARDEN                                                                 #
###############################################################################

https://{$VAULTWARDEN_SERVER_DOMAIN} {
	import default {$VAULTWARDEN_SERVER_DOMAIN}

	# Harden Admin Page
	basicauth /admin* {
		admin JDJhJDE0JEh6WlRaWjlGbXRKWUU4MmpLTDBSZnVZSnVrVDVVRk02NTYzNVRoZElxR0FoaHdmYVpPSDNh
	}

	# Proxy the Root directory to Rocket
	reverse_proxy {$VAULTWARDEN_SERVER_HOST}:80 {
		# Send the true remote IP to Rocket, so that bitwarden_rs can put this in the
		# log, so that fail2ban can ban the correct IP.
		header_up X-Real-IP {remote_host}
	}
}
