###############################################################################
# SNIPPETS                                                                    #
###############################################################################

(default) {
	encode gzip
	import /etc/caddy/caddy_security.conf
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}

###############################################################################
# UNIFI CONTROLLER                                                            #
###############################################################################

https://{$UNIFI_CONTROLLER_DOMAIN} {
	import default
	reverse_proxy https://{$UNIFI_CONTROLLER_HOST}:8443 {
		header_up -Authorization
		transport http {
			tls_insecure_skip_verify
		}
	}
}

http://{$UNIFI_CONTROLLER_DOMAIN}:8080 {
	import default
	reverse_proxy http://{$UNIFI_CONTROLLER_HOST}:8080 {
		header_up -Authorization
	}
}
